name: CI

on:
  push:
    branches: [main]
  pull_request:

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: '-Dwarnings'

jobs:
  fmt:
    runs-on: ubuntu-latest
    name: Formatting
    steps:
      - uses: actions/checkout@v4
      - run: cargo fmt --check

  check:
    runs-on: ubuntu-latest
    container: rust:trixie
    name: Clippy & Test
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y \
            libgtk-4-dev \
            libgtk4-layer-shell-dev \
            libpulse-dev \
            libudev-dev \
            libdbus-1-dev
          rustup component add clippy
      - uses: Swatinem/rust-cache@v2
      - run: cargo clippy --all-targets -- -D warnings
      - run: cargo test --verbose
